#tabel1{
    border: 1px,red, solid;
    font-family: Verdana,Geneva,Tahoma, sans-serif;
    border-collapse: collapse;
}
#tabel1 tr td, #tabel1 tr th {
    border:1px blue double ;
    padding: 15px;
}
#tabel1 tr th {
    color:red;
    background-color: rgba(0, 0, 0, 0.711);
}
#tabel1 tr:nth-child(2n){
    background-color: rgb(233, 181, 118);
}
#tabel1 tr:nth-child(2n+1){
    background-color: rgb(109, 232, 232);
}
#tabel1 tfoot tr{
    background-color: rgb(35, 6, 62);
    color:#fffff;
}